#id-radio1{
	width:100%; padding-left:0; margin-bottom:50px;
}
.col-izq .divider{
	margin-bottom:20px;
}
.col-top-0{
    margin-top:0;
    background-color:#F0F0F5;
}
.costado-0{
    background-color:#F0F0F5;
    padding-left: 0;
    padding-right: 0;
    
}
.row.row-login-tit{
    margin-bottom: 0;
}
.btn.btn-flat.btn-salmon:hover{
    background-color:#F6F1EE
}

.btn100{
 width: 100%;   
}

#recordar-pad{
    padding-left: 19px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
}

#olvidaste{
	text-align:center;
}

.btn12{
	font-size:12px;
}

.btn-face{
	background:#3B5998;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.btn-face:hover{
	background:#6885C1;
}

/*
.btn-face i {
    font-size: 1.2rem;
	color: #FAFAFA;
}
*/


.btn-twt{
	background:#45B0E3;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.btn-twt:hover{
	background:#81C6E6;
 
}

.btn-gp{
	background:#DE4C34;
    width: 100%;
    overflow: hidden;
}

.btn-gp:hover{
	background:#DA7666;
}


.divider {
    height: 2px;
    overflow: hidden;
    background-color: #009688;
	margin-left:8px;
	margin-right:10px;
	
}

#modal-register, #modal-register.modal-content{
	max-height:90%;
	height:90%;
	
}


.modal, .modal.modal-fixed-footer{
	height:92%;
	width:95%;
	max-width:95%;
	max-height:92%;  	
}

.modal .modal-content{
	padding-bottom:0;
}

.modal .modal-footer{
	padding-right:55px;;
}

#modal-register, #modal-register.modal-content{
	max-height:90%;
	height:90%;
	max-width:100%;
	width:100%;
		
}


header, main, footer {
  padding-left: 0; }


#logo-container{
	background-color:rgb(52, 107, 112);	
    height: 105px;
}

#nav-mobile li.search {
    position: absolute;    
    top: 136px;
}

nav ul a {
    font-size: 0.98rem;
}

nav ul li:hover, nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1); 
}

ul.side-nav li.logo:hover {
    background-color: transparent; 
}

ul.side-nav {
  overflow: hidden; }
  
ul.side-nav li {
    line-height: 44px; 
}
ul.side-nav li:hover, ul.side-nav li.active {
      background-color: rgba(0, 0, 0, 0.05); 
}
ul.side-nav li a {
      font-size: 13px;
      line-height: 44px;
      height: 44px; 
}
ul.side-nav ul.collapsible-accordion {
    background-color: #FFF; 
}

ul.side-nav:hover {
    overflow-y: auto; 
}



/* side-nav */


.side-nav .logo{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 200px;
	padding-left:0px;
}

#nav-mobile li.search .search-wrapper i.material-icons{
	top:0;
}




#nav-mobile .search-wrapper{
	color:#4A905A;
}



#row-login{
	font-size: 20px;   
    margin-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 5px;

}

#row-login a{
	color:#F5F5F5;
    padding-left: 5px;
    padding-right: 5px;
    
}

#row-login a i{
	margin-right:0px;
	margin-left:10px;
	
}


	  
header, .img-resp{
	/*background-color:#72AE72;*/
	background: url("../images/wave8.jpg");
	
	/*background-size: 100%;*/
	/*
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	*/
	background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}

.header {
  color: #3D826F;
  font-weight: 300; 
}

.header.header-izq{
	color: #033D2D;
	font-weight: 600; 
}


#mnu-collapse{
	padding-left:10px;
}

.container.container-nav{
	width:95%;
}

.container-ppal .col.col-slider{
	padding:0;
	margin-top:30px;
	
}

/** header**/
/*solo small*/
header .hide-on-med-and-up{	
	padding-bottom: 0px;
	text-align:center;
}

header .hide-on-med-and-up img{
	max-width:99%;
	padding-top: 0px;
}


/*solo tablets y pc*/
header .col.s12.m6{	
	
	text-align:right;
	padding:5px;
}
header .col.m6{	
	padding: 5px;
	text-align:left;

}

/*solo tablets*/


header .hide-on-large-only.hide-on-small-only img{
	max-width:100%;
	padding-top: 0px;
	text-align:right;
}
/*solo pc*/

header .hide-on-med-and-down img{
	/*max-width:100%;*/
	padding-top: 0px;
	
}

/** nav **/
/*solo small*/
nav .hide-on-med-and-up{	
	padding-bottom: 0px;
}

/* media 
nav .hide-on-med-and-up img{
	max-width:69%;
	padding-top: 0px;
}
*/


/*solo tablets*/
nav .hide-on-large-only.hide-on-small-only img{
	max-width:70%;
	padding-top: 0px;
}

/*solo pc*/
nav .hide-on-med-and-down img{
	max-width:99%;
	padding-top: 0px;
}




.right.right-nav{
	/*padding-top:20px;*/
	
}

.brand-logo.brand-logo-lat{
	padding-top:4px;	
}

 /* NO fue solucionado con responsive-img*/
.grid-example1 a img{
    max-width: 99%;
    height: auto;
    overflow: hidden;
    padding: 3px;
}


.container-tit{
	padding:1px;
	/*padding-top:10px;*/
}

.container-tit img{
	width:75%;
}

.container-tit .row{
	margin-bottom:0;
}




.brand-logo.left.hide-on-med-and-down img{
    height: auto;
    overflow: hidden;
    padding-right: 45px;
	padding-top:15px;
}




#input-field-nav{
	/*width: 688px;*/
    margin-right: 0px;
}

.input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons {
   
    right: 1rem;
	}
 





.row-cards-titulo{
	padding-left:42px;
}
    
.row-cards{
	padding:30px;
}


.mdl-layout__container {
       height: auto
}


footer.page-footer {
    background-color: rgba(0, 15, 5, 0.98);
}

.toc-wrapper.pin-top{
	margin-top:14px;
}

.pagination.centrado{

	margin-left: 40%;
	
}
p, .conMargen{
	margin-left: 3%;
    margin-right: 5%;
}